/* Step 1-2: Add box-sizing to all element in the global stylesheet */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Step 2-1: Add some styling to the main body of the app */
  color: #333;
  background-color: #ddd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Step 2-1: Create style rules for html header and button elements */
header {
  background-color: #666;
  color: #fff;
  padding: 1rem 1.5rem;
  width: 100%;
}

button {
  border: 0;
  cursor: pointer;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
}

/* Step 2-1: Create some baseline classes to user throughout the app */
/*===========================================
  FLEX LAYOUT STYLES
===========================================*/
.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.space-between-center {
  justify-content: space-between;
  align-items: center;
}


/* Step 4-2: Setup styles to be used for the Notification component */
.notification {
  background-color: #ccc;
  border: 0.0625rem solid #888;
  border-radius: 0.25rem;
  color: #333;
  font-size: 0.75rem;
  max-width: 31.25rem;
  padding: 0.5rem 1rem;
  width: 100%;
}

.notification .notification-header {
  border-bottom: 0.0625rem solid rgba(0,0,0,0.5);
  font-weight: 600;
  padding: 0 1rem 0.5rem 1rem;
  margin-bottom: 0.5rem;
  width: calc(100% + 2rem);
  margin-left: -1rem;
}

.btn-primary {
  background-color: #367c2b;
  color: #fff;
}


/* Step 7-4: Add some styles to enhance the look of our new user list */
.content {
  padding: 1rem;
}

.user-list {
  padding: 0.25rem 0.5rem;
  background-color:rgba(0,0,0,0.2);
  margin-top: 1rem;
}

.user {
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  border: 0.0625rem solid #367c2b;
  background-color: rgba(255,255,255,0.5);
  color: #333;
  margin: 0.5rem 0;
}


/*
Step 10-7: Add some styles to the form we just created.
Setting up some styles as well for the buttons we will eventually create in a future step
*/
form.add-user {
  background-color: rgba(0,0,0,0.15);
  border: 0.0625rem solid #999;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}

form.add-user .field-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.35rem;
}

form.add-user .field-group label {
  min-width: 7rem;
  margin-right: 0.5rem;
  font-size: 0.825rem;
  font-weight: 600;
}

form.add-user .field-group input[type="text"] {
  border: 0;
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: 100%;
  max-width: 16rem;
}

form.add-user .actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
}

form.add-user .actions button {
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
}

form.add-user .actions button[type="reset"] {
  background-color: #333;
}

form.add-user .actions button[type="submit"] {
  background-color: #367c2b;
}
